In [1]:
import pandas

In [2]:
aapl = pandas.read_csv('aapl.csv')
msft = pandas.read_csv('msft.csv')
aapl.head()

         Date    Open    High     Low   Close      Volume
0  12/01/2025  278.01  283.42  276.14  283.10  45,497,800
1  11/28/2025  277.26  279.00  275.99  278.85  20,132,200
2  11/26/2025  276.96  279.53  276.63  277.55  33,431,422
3  11/25/2025  275.27  280.38  275.25  276.97  46,914,219
4  11/24/2025  270.90  277.00  270.90  275.92  65,585,797

In [3]:
aapl['time'] = pandas.to_datetime(aapl['Date']).astype("int64") // 10**6
aapl['AAPL'] = aapl['Close']
msft['time'] = pandas.to_datetime(msft['Date']).astype("int64") // 10**6
msft['MSFT'] = msft['Close']
aapl = aapl[['time', 'AAPL']]
msft = msft[['time', 'MSFT']]

In [4]:
aapl.to_csv('aapl_v1.csv', index=False)
msft.to_csv('msft_v1.csv', index=False)